* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Poppins', sans-serif;
    overflow: hidden;
  }
  
  .wrapper {
    background-color: #424242;
      border: none;
      display: flex;
    }

  .container {
    position: relative;
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
  }
  .img-logo {
    margin: 200px;
    margin-right: 280px;
  }
  .img img {
    width: 40%;
    max-width: 450px;
    height: auto;
  }

  .backdrop {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-10%, -50%);
    text-align: center;
    width: 80%;
  }
  
.content {
  background: linear-gradient(to right, #b0b0b0, #e0e0e0, #b0b0b0); /* Adjust these colors to achieve the metallic effect */
  border-radius: 10px;
  padding: 120px;
  width: 60%;
  font-size: 1.2rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: justify;
  line-height: 1.6;
  color: #333;
  transition: background 0.3s ease;

  @media (max-width: 768px) {
    width: 80%;
    padding: 80px;
  }
}

.content:hover {
    background-color: #d0d0d0; 
}

.heading {
    color: #333; 
    font-size: 2rem; 
    margin-bottom: 20px; 
    text-align: center; 
    text-transform: uppercase; 
    letter-spacing: 2px; 
    font-weight: bold; 
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2); 
}

  .reg {
    padding: 75px;
  }
  
  .late {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  
  .form {
    align-items: center;
    width: auto;
    position: relative;
  }
  
  .login-content img {
    height: 100px;
  }
  
  .none {
    color: rgb(230, 9, 9);
  }
  
  a {
    text-decoration: none;
    color: #999;
  }
  
  a:hover {
    color: red;
  }
  
  .btn {
    display: block;
    width: 95%;
    height: 50px;
    border-radius: 25px;
    outline: none;
    border: none;
    background: gray;
    background-size: 200%;
    font-size: 1.2rem;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    margin: 1rem 0;
    cursor: pointer;
    transition: background-position 0.5s, color 0.5s, transform 0.5s, box-shadow 0.5s;
    position: relative;
    overflow: hidden;
}

.btn:hover {
    background-position: right;
    color: darkgray;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); 
    transform: scale(1.05); 
}
  
  @media screen and (max-width: 1050px) {
    .container {
      grid-gap: 5rem;
    }
  }
  
  @media screen and (max-width: 1000px) {
    form {
      width: 290px;
    }
  
    .login-content h2 {
      font-size: 2.4rem;
      margin: 8px 0;
    }
  
    .logo logo {
      width: 300px;
    }
  }
  
  @media screen and (max-width: 900px) {
    .container {
      grid-template-columns: 1fr;
    }
  
    .logo {
      display: none;
    }
  
    .login-content {
      justify-content: center;
    }
  }
  
  .new {
    margin-bottom: 15px;
    width: auto;
  }
  
  label {
    display: flex;
    margin-bottom: 5px;
  }
  
  .input {
    width: 90%;
    padding: 8px;
    border-radius: 25px; 
    font-size: 1rem;
    border: 2px solid #ccc; 
    margin-bottom: 10px; 
    box-sizing: border-box; 
    transition: border-color 0.3s ease; 

    ::placeholder {
        color: #999; 
    }

    :focus {
        outline: none; 
        border-color: #66afe9; 
        box-shadow: 0 0 8px rgba(102, 175, 233, 0.6); 
    }

  

    
}

/* .input:invalid {
    border-color: #ff6347; 
} */

/* .input:valid {
    border-color: #32cd32; 
}

   */